<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>
        Login | Sistema Gerenciador de Saludos
    </title>
    <link rel="shortcut icon" href="https://img.icons8.com/wired/64/000000/enter-2.png" />
</head>
<body>
    <style>
        .card{
            margin-top: 7%;             
        }
        .container{
            max-width: 500px;
        }
        .card-header{
            background-color: rgba(100, 230, 170, 0.9);
        }
        .buttons-end{
            text-align: end;
        }
    </style>
    <div class="container fuild">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Nombre: </label>                
                        <input name="name" type="text" id="username" 
                        placeholder="admin" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña: </label>  
                        <input name="password" type="password" id="password" 
                        placeholder="adminadmin" class="form-control" required/>
                    </div>
                    {% if errors %}
                    <div class="alert alert-danger" role="alert">
                        Credenciales Inválidas
                    </div>
                    {% endif %}
                    <div class="buttons-end">
                        <a class= "btn btn-outline-danger" href="/">Cancelar</a>
                        <button type="submit" class="btn btn-outline-success">Ingresar</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>