<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>
        Sistema Gerenciador de Saludos
    </title>
    <link rel="shortcut icon" href="https://img.icons8.com/office/16/000000/launched-rocket.png" />
</head>
<body>
    <style>
        .card{
            margin-top: 7%;             
        }
        .container{
            max-width: 500px;
        }
        .card-header{
            background-color: rgba(100, 230, 170, 0.9);
        }
        .buttons-end{
            text-align: end;
        }
        h5,h6{
            padding-bottom: 10px;
        }
    </style>
    <div class="container fuild">
        <div class="card">
            <div class="card-header">
                Sistema Gerenciador de Saludos
            </div>
            <div class="card-body">
                {% if user.id %}<h5 class="card-title">
                    Hola, {{user.first_name}} {{user.last_name}}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Nombre de usuario: {{user.username}}
                </h6>
                <div class="buttons-end">                    
                    <a class= "btn btn-outline-primary" href="/logout/">Despedirme (Logout)</a>
                </div>
                {% else %}<h5 class="card-title">
                    Hola, OVNI (Objeto Visualizador No Idetificado)
                </h5>
                <div class="buttons-end">                    
                    <a class= "btn btn-outline-primary" href="/login/">Saludar (Login)</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>